<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
</head>

<body>
    <div class="container">
        <div class="row">
            <form action="/get-items" method="Post" style="width: 100%;display: flex; margin-top: 16px">
                <input class="form-control" type="text" name="itemSearch" placeholder="Enter Item Name" style="margin-right: 2px">
                <input type="submit" class="btn btn-primary">
            </form>
        </div>
    </div>


</body>

</html>