<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>
</head>

<body>
    <div class="container">
        <div class="col">
            <div class="form-group">
                <input class="form-control" id="itemSearch" type="text" name="itemSearch" placeholder="Enter Item Name" style="margin-right: 2px">
            </div>
            <div class="form-group">
                    <input class="form-control" id="itemSearch1" type="text" name="itemSearch1" placeholder="Enter Item Name" style="margin-right: 2px">
                </div>
                <div class="form-group">
                        <input class="form-control" id="itemSearch2" type="text" name="itemSearch2" placeholder="Enter Item Name" style="margin-right: 2px">
                    </div>
                    <div class="form-group">
                            <input class="form-control" id="itemSearch3" type="text" name="itemSearch3" placeholder="Enter Item Name" style="margin-right: 2px">
                        </div>
                <div class="form-group">
                                <input class="form-control" id="itemSearch4" type="text" name="itemSearch4" placeholder="Enter Item Name" style="margin-right: 2px">
                            </div>
                    <div class="form-group">
                                    <input class="form-control" id="itemSearch5" type="text" name="itemSearch5" placeholder="Enter Item Name" style="margin-right: 2px">
                                </div>
               <button onclick="myfunction()">Submit</button>
        </div>
    </div>
  
    <script>
        function msToTime(duration) {
  var milliseconds = parseInt((duration % 1000) / 100),
    seconds = Math.floor((duration / 1000) % 60),
    minutes = Math.floor((duration / (1000 * 60)) % 60),
    hours = Math.floor((duration / (1000 * 60 * 60)) % 24);

  hours = (hours < 10) ? "0" + hours : hours;
  minutes = (minutes < 10) ? "0" + minutes : minutes;
  seconds = (seconds < 10) ? "0" + seconds : seconds;

  return hours + ":" + minutes + ":" + seconds + "." + milliseconds;
}


    function myfunction(){
        var start = performance.now();
            var x = document.getElementById('itemSearch').value;

        $.ajax({
        url: '/get-items/'+x,
			type: 'POST',
			data: 'search',
			success: function (data) {
                var end = performance.now();
                var time = end - start;
                console.log('Execution time: ' + msToTime(time));
                console.log(data);
                myfunction1();
        },
			error: function (error) {

			}
    })


    }
    
    function myfunction1(){
        var start = performance.now();

        var x = document.getElementById('itemSearch1').value;

                $.ajax({
                url: '/get-items/'+x,
                    type: 'POST',
                    data: 'search',
                    success: function (data) {
                        var end = performance.now();
                var time = end - start;
                console.log('Execution time: ' + msToTime(time));
                        myfunction2();
                },
                    error: function (error) {

                    }
                })

    }

    function myfunction2(){
        var start = performance.now();

        var x = document.getElementById('itemSearch2').value;

            $.ajax({
            url: '/get-items/'+x,
                type: 'POST',
                data: 'search',
                success: function (data) {
                    var end = performance.now();
                var time = end - start;
                console.log('Execution time: ' + msToTime(time));
                    myfunction3();
            },
                error: function (error) {

                }
            })

    }

    function myfunction3(){
        var start = performance.now();

        var x = document.getElementById('itemSearch3').value;

            $.ajax({
            url: '/get-items/'+x,
                type: 'POST',
                data: 'search',
                success: function (data) {
                    var end = performance.now();
                var time = end - start;
                console.log('Execution time: ' + msToTime(time));
                    myfunction4();
            },
                error: function (error) {

                }
            })

    }
    function myfunction4(){
        var start = performance.now();

        var x = document.getElementById('itemSearch4').value;

            $.ajax({
            url: '/get-items/'+x,
                type: 'POST',
                data: 'search',
                success: function (data) {
                    var end = performance.now();
                var time = end - start;
                console.log('Execution time: ' + msToTime(time));
                    myfunction5();
            },
                error: function (error) {

                }
            })

    }
    function myfunction5(){
        var start = performance.now();

        var x = document.getElementById('itemSearch5').value;

            $.ajax({
            url: '/get-items/'+x,
                type: 'POST',
                data: 'search',
                success: function (data) {
                    var end = performance.now();
                var time = end - start;
                console.log('Execution time: ' + msToTime(time));
                    alert("done")
         },
                error: function (error) {

                }
            })

    }
    </script>


</body>

</html>